<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Rental PDF</title>
</head>
<body>
    <div class="container">
        <h1>Produto: {{name}}</h1>
        <p><strong>Código:</strong> {{code}}</p>
        <p><strong>Tamanho:</strong> {{size}}</p>
        <p><strong>Quantidade disponível:</strong> {{amount}}</p>
        <p><strong>Descrição:</strong> {{description}}</p>
        <p><strong>Categoria:</strong> {{category}}</p>
        <p><strong>Cor:</strong> {{color}}</p>
        <p><strong>Status:</strong> {{status}}</p>
        <p><strong>Locação:</strong> {{rental}}</p>
        <p><strong>Valor gasto:</strong> {{spentValue}}</p>
    </div>
</body>
</html>
